body {
    margin-top: 40px;
}

.ligne {
    display: flex;
    justify-content: center;
}

.cartes {
    height: 125px;
    width: 125px;
    background-color: #D7DBDD ;
    margin: 3px;
    cursor: pointer;
}

.cartes:hover {
    border: 1px solid black;
    box-sizing: border-box;
}

.active {
    cursor: default;
}
.active:hover {
    border: none;
}

#melanger {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px 15px;;
    background-color: #566573 ;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
    color: #F2F3F4;
}

#melanger:hover {
    background-color: #2E4053;
    transition: 0.4s;
}

/* COULEUR DES CARTES */

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
}
.blue {
    background-color: blue;
}
.cyan {
    background-color: cyan;
}
.black{
    background-color: black;
}

.colorHidden {
    background-color: #D7DBDD;
}